@font-face {
    font-family: 'WorkSans-VariableFont';
    src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    color: rgb(234, 204, 194);
    font-weight: 300;
}

p,
label {
    color: rgb(115, 115, 115);
    font-weight: 300;
}

a {
    color: #867772;
    text-decoration: none;
}

body {
    display: grid;
    font-family: 'WorkSans-VariableFont';
    background-color: #2e2e2e;
}

label {
    display: block;
    margin-bottom: 2px;
}

input,
select,
textarea {
    width: 70%;
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 2px;
    border-color: transparent;
    outline: none;
}


/* ------ header ------ */
header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 85px;
}

header li:nth-of-type(4),
li:nth-of-type(1) {
    margin-right: 30px;
}

header a {
    font-size: .7rem;
    font-weight: 400;
    transition: all 1s linear;
}

header a:hover {
    text-decoration: underline;
    color: rgb(234, 204, 194);
    transition: all 1s linear;
}

header nav {
    width: 40%;
}

header img {
    height: 35px;
    width: 35px;
    margin-left: 45px;
    margin-top: 1%;
}


/* ------------- aside ---------------- */

aside {
    width: 20%;
    height: 85vh;
    position: fixed;
}

.navVertical {
    margin-top: 260px;
    margin-left: 20px;
    position: relative;
}

.navVertical ul {
    list-style: circle;

}

.navVertical li {
    display: flex;
    justify-content: start;
    margin: 50px 0;
    color: #fff;
}

.navVertical a {
    color: #fff;
    opacity: 50%;
    font-size: .8rem;
    font-weight: 400;
    transition: opacity 1s linear;
    padding-left: 40px;
    padding-top: 10px;
}

.navVertical a:hover {
    opacity: 100%;
    transition: all 1s linear;
}

.smallCircle {
    width: 10px;
    height: 10px;
    border: 1px solid rgb(115, 115, 115);
    border-radius: 50%;
    position: relative;
    top: 14px;
    left: 4px;
}

.bigCircle {
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
}

.line {
    width: .5px;
    height: 40px;
    border: 1px solid rgb(115, 115, 115);
    position: relative;
    top: 16px;
    left: 8px;
}

/* ---------- index.html --------------- */
.indexContainer {
    grid-column: 1/6;
}

.indexContainer h1 {
    margin: 21vh 0;
    width: 72%;
    padding-left: 37%;
    font-size: 2rem;
    word-spacing: 0.3rem;
    letter-spacing: 0.2rem;
}

.rowPicTop {
    margin: 0 auto;
    height: 100vh;
    width: 90%;
    background: url(../img/section-about-1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.containerButton {
    margin-top: 200px;
    height: 70vh;
    display: grid;
    grid-template-columns: 20% 35% 1fr;
}

.containerButton img {
    grid-column: 2/3;
    width: 100%;
    height: 65%;
}

.containerButton .rowDiscription {
    grid-column: 3;
    padding-left: 10%;
    width: 85%;
    height: 65%;
}


/* ----------- lounger.html --------------- */
#lounger .container .itemLeft {
    background: url(../img/section-voyager.jpg) no-repeat center/cover;
}

/* ----------- Experience --------------- */
#experience .container .itemLeft {
    background: url(../img/section-experience-1.jpg) no-repeat center/cover;
}

/* ----------- subsribe.html --------------- */
#subscribe .container .itemLeft {
    background: url(../img/section-about-1.jpg) no-repeat center/cover;
}

div label {
    display: inline;
}

.checkbox {
    display: inline;
    width: 1rem;
    margin: 10px 0;
}

.subscribeSubmit {
    background-color: rgb(234, 204, 194);
    color: rgb(115, 115, 115);
    margin-top: 40px;
    padding: 7px 20px;
}

.subscribeSubmit:hover {
    cursor: pointer;
    background-color: rgba(234, 204, 194, 0.885);
    color: rgb(73, 71, 71);
}

/* ------------ inspiration.html -------------- */
.inspirationContainer {
    display: grid;
    grid-template-columns: 20% 64% 1fr;
    grid-template-rows: 40% 12% 41% 1fr;
}

video {
    width: 100%;
    margin: 25vh 0vh 45vh 0vh;
    padding: 0 40px 0 20px;
}

.inspirationContainer h4 {
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 33px;
}

.inspirationContainer h3 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.inspirationContainer .rowA {
    grid-column: 2;
}

.inspirationContainer .rowB {
    grid-column: 2;
}

.fakeBtn {
    display: flex;
    justify-content: start;
    gap: 4px;
}

.fakeBtn p {
    border: 2px solid #fff;
    opacity: 70%;
    border-radius: 10%;
    font-size: .6rem;
    letter-spacing: 1px;
    margin: 10px 0;
    padding: 3px 10px;
}

.inspirationContainer .rowC {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    grid-column: 2;
}

.rowCPic {
    width: 50%;
    height: 50%;
}

.rowCPic img {
    width: 100%;
    height: 100%;
}

.rowDiscription {
    padding: 0 50px 0 15px;
    width: 50%;
    align-self: center;
}

.rowDiscription p {
    line-height: 25px;
}

/* ----------- shop.html --------------- */
#shop .container .itemLeft {
    background: url(../img/section-composition4.jpg) no-repeat center/cover;
}

#shop .container .itemRight {
    margin-top: 120px;
    align-items: center;
}

#shop .container .itemRight p {
    padding: 2%
}

#shop .container .itemRight a {
    background-color: rgb(234, 204, 194);
    color: rgb(115, 115, 115);
    font-size: .7rem;
    padding: 6px 20px;
    border-radius: 4%;
}

/* ----------- General --------------- */
.container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 60% 1fr;
}

.container .itemRight {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}

#lounger .itemRight h1,
#experience .itemRight h1,
#subscribe .itemRight h1 {
    padding-top: 40%;
    margin-bottom: 15%;
    font-size: 2.3rem;
    letter-spacing: .5px;
}

#lounger .itemRight p,
#experience .itemRight p {
    width: 83%;
    line-height: 25px;
    margin-top: 20px;
}

#index .navVertical li:nth-of-type(1) a,
#lounger .navVertical li:nth-of-type(2) a,
#experience .navVertical li:nth-of-type(3) a,
#inspiration .navVertical li:nth-of-type(4) a,
#shop .navVertical li:nth-of-type(5) a {
    opacity: 100%;
}